@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

$color1: #F4F1DE;
$color2: #E07A5F;
$color3: #3D405B;

$border: solid 2px black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $color1;
}

section {
  padding: 30px;
}

/*------- HEADER -------*/
h1 {
  margin-bottom: 5px;
  font-size: 120%;
  font-weight: bold;
}

/*------- APP -------*/
.App {
  padding-top: 20px;
}

/*------- PROFILE -------*/
.profile {
  .profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    img {
      border-radius: 50%;
      border: $border;
      height: auto;
      width: 128px;
    }
  }

  .profile-fullname {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-fullname-check_mark {
      margin-left: 3px;
      color: #4FB6EC;
    }
  }

  .profile-bio {
    margin-bottom: 30px;
  }

  .social_media {
    margin: auto;

    .button {
      $box-shadow-offset: 7px;

      margin-bottom: 30px;
      padding: 15px 0;

      text-align: center;
      text-transform: capitalize;
      font-weight: bold;

      border: $border;
      background-color: $color2;

      box-shadow: black $box-shadow-offset $box-shadow-offset 0;
    }
  }
}